:root {
    // https://coolors.co/d7263d-f46036-2e294e-1282a2-c5d86d
    --color-dusty-red: #D7263D;
    --color-portland-orange: #F46036;
    --color-space-cadet: #2E294E;
    --color-space-cadet-lightest: #ECEBEE;
    --color-space-cadet-lighter: #b3b1be;
    --color-space-cadet-light: #67637E;
    --shadow-strong: rgba(46,41,78,.07);
    --shadow-normal: rgba(46,41,78,.05);
    --shadow-weak: rgba(46,41,78,.02);
    --color-cg-blue: #1282A2;
    --color-june-bug: #C5D86D;
    --color-grey: #c6c6c6;
    --color-grey-hover: #f9f9f9;
    --color-1: #2fc46f;
    --color-2: #2f83c4;
    --color-3: #c42f83;
    --color-4: #E76450;
    --color-5: #33BB6D;
    --color-6: #b84ce2;
};

* { box-sizing: border-box; }
html, body { 
    margin: 0; 
    // background-image: url('../../img/qbkls.webp');
    // background-color: var(--color-space-cadet-lightest);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    color: var(--color-space-cadet);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#App {
    height: 100%;
    display: flex;
    
    @media (min-width:700px) and (min-height:700px) and (orientation: landscape) {
        main {
            order: 2;
        }

        #Nav {
            order: 1;
        }
    }
    
}

button {
    border: none;
    background: none;
    font-size: 1rem;
}

// main {
//     margin: 50px;
//     width: calc(100vw - 100px);
//     height: calc(100% - 160px);
//     background-color: #fff;
//     border: 1px solid #ccc;
//     border-radius: 10px;
//     box-shadow: 0 0 10px 10px rgba(0,0,0,.02);
//     display: flex;
//     flex-direction: column;
// }