:root {
    --color-grey: #c6c6c6;
    --color-grey-hover: #f9f9f9;
    --color-1: #2fc46f;
    --color-2: #2f83c4;
    --color-3: #c42f83;
    --color-4: #c46f2f;
    --color-5: #33BB6D;
    --color-6: #b84ce2;
};

* { box-sizing: border-box; }
html, body { 
    margin: 0; 
    background-image: url('../../img/qbkls.webp');
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#App {
    height: 100vh;
    display: flex;
}

main {
    margin: 50px;
    width: calc(100vw - 100px);
    height: calc(100% - 160px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.02);
    display: flex;
    flex-direction: column;
}