#Nav {
    display: flex;
    background-color: var(--color-portland-orange);
    position: sticky;
    bottom: 0;

    @media (min-width:700px) and (min-height:700px) {
        min-width: 80px;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
    }

    li {
        cursor: pointer;
        display: flex;

        a {
            width: 100%;
            text-align: center;
            text-decoration: none;
            position: relative;

            .notifications {
                position: absolute;
                background: var(--color-portland-orange);
                color: #fff;
                font-weight: 900;
                font-size: 9px;
                border-radius: 50px;
                padding: 6px 5px;
                border: 2px solid #fff;
                top: 15%;
                right: 15%;
                line-height: 1;
                text-align: center;
            }
        }

        &.selected a {
            color: var(--color-portland-orange);
            background-color: #fff;
            padding: 30px 0;

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 10px;
                background: var(--color-portland-orange);
            }
            
            &:before {
                top: 0;
                border-radius: 0 0 10px 0;
            }

            &:after {
                bottom: 0;
                border-radius: 0 10px 0 0;
            }
        }

        &:not(.selected) {
            a:hover {
                color: var(--color-portland-orange-lighter);
            }
        }

        a {
            color: #fff;
        }

        &:hover:not(.selected) {
            color: var(--color-portland-orange-lighter);  
        }

        @media (min-width:700px) and (min-height:700px) {
            font-size: 2rem;
        }
    }

    @media (orientation : portrait) {
        width: 100vw;
        height: 60px;
        position: fixed;
        bottom: 0;
        // border-top: 3px solid var(--color-space-cadet-lightest);

        ul {
            width: 100%;
            flex-direction: row;
        }

        li {
            flex: 1;
            // border-top: 3px solid var(--color-space-cadet-lightest);
            align-items: center;

            &:not(.selected):hover {
                // border-top-color: var(--color-space-cadet-lighter);
            }

            &.selected {
                // border-top-color: var(--color-space-cadet); 
            }
        }

        @media (max-width:700px) {
            li a {
                font-size: 1.4rem;
            }
        }

        @media (min-width:700px) and (min-height:700px) {
            height: 80px;
        }
    }

    @media (orientation : landscape) {
        height: 100vh;
        // border-right: 3px solid var(--color-space-cadet-lightest);
        flex-direction: column;
        justify-content: space-between;
        // box-shadow: 0 0 5px 5px var(--shadow-strong);

        @media (max-width:700px) {
            min-width: 60px;
        }

        ul {
            flex-direction: column;

            @media (max-height:700px) {
                height: 100%;
            }
        }

        li {
            height: 100%;
            // border-right: 3px solid var(--color-space-cadet-lightest);

            &:not(.selected):hover {
                // border-right-color: var(--color-space-cadet-lighter);
            }

            &.selected {
                // border-right-color: var(--color-space-cadet); 
            }
            
            a {
                @media (max-width:700px) {
                    font-size: 1.7rem;
                }

                @media (min-height:700px) {
                    padding: 15px 0;

                    @media (min-width:700px) {
                        padding: 25px 0;
                    }
                }
            }
        }
    }
}
