


#Dashboard {
    display: flex;
    flex: 1;
}

#Dashboard-Content {
    flex-basis: 70%;
}




* { box-sizing: border-box; }
html, body { 
    margin: 0; 
    background-image: url(e5f13bd6a78ecb62bf2729a48377c579.webp);
    font-family: 'Roboto', sans-serif;
}

#App {
    height: 100vh;
}

main {
    margin: 50px;
    width: calc(100vw - 100px);
    height: calc(100% - 160px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.02);
    display: flex;
    flex-direction: column;
}
