#Contact-List-Items {
    padding: 0;
    margin: 0;
    list-style: none;
    flex: 1;
    overflow: auto;
    padding-bottom: 50px;
    
    li:not(.Contact-Group-Parent) {
        padding: 15px 0;
        cursor: pointer;
        
        & + li {
            border-top: 1px solid var(--color-space-cadet-lightest);
        }
        
        &:hover {
            background-color: #f9f9f9;
        }

        &.Contact-List-Item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                display: flex;
            }

            span {
                padding: 0 15px;
                display: flex;
                align-items: center;

                & + span {
                    border-left: 1px solid var(--color-space-cadet-lightest);
                }

                &.Contact-Status {
                    width: 50px;
                    padding: 0;
                    justify-content: center;
                }

                div.Contact-Photo {
                    width: 30px;
                    height: 30px;
                    border-radius: 100px;
                    background-size: contain;
                    background-position: center center;
                    margin-right: 15px;
                }
            }
        }

        i {
            color: var(--color-space-cadet-lighter);

            &.fa-thumbs-up { color: var(--color-june-bug); }
            &.fa-user-clock { color: var(--color-dusty-red); }
            &.Contact-Photo { 
                margin-right: 15px; 
                font-size: 2rem;

            }
        }
    }

    .Contact-Group-Header {
        background-color: var(--color-space-cadet-lightest);
        font-weight: bold;
        padding: 5px 13px;
        font-size: .7rem;
        position: sticky;
        top: 0;
        text-transform: capitalize;
        border-radius: 3px;
    }
}