#Contact {
    height: 100%;
    padding: 25px;

    .Contact-Item {
        margin: 25px;

        label {
            display: block;
            margin-bottom: 5px;
            font-size: .9rem;
        }

        select,
        input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 1rem;

            &:active {
                border-color: #aaa;
            }
        }
        
        &.Advanced {
            display: block;
            text-align: center;
        }

        &-Group {
            display: flex;

            .Contact-Item { width: 100%; }
        }
    }

    header {
        margin: -25px -25px 50px;
        background-color: var(--grey-1); 
        background-size: cover;
        background-position: center;
        min-height: 150px;

        &.full {
            min-height: 300px;
        }
    }
    
    button {
        margin: 25px;
        padding: 15px;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        cursor: pointer;
        
        &:hover, &:active {
            border-color: #aaa;
        }
    }
}