#Today {
    h1 {
        margin: 50px 50px 0;
    }

    &-Contacts {
        padding: 0;
        margin: calc(50px - 1rem) calc(50px - 1rem) 50px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
            border: 1px solid #ccc;
            border-radius: 5px;
            flex-grow: 1;
            margin: 1rem;
            min-width: 200px;
            cursor: pointer;

            &:hover {
                border-collapse: #999;
                background-color: #f9f9f9;
            }

            div {
                padding: 13px;
            }

            strong {
                display: block;
            }

            span {
                clear: both;
                display: inline-block;
                padding: 7px;
                font-size: .9rem;
                font-weight: bold;
                margin: 5px 0 0;
                background-color: var(--color-grey);
                border-radius: 5px;
                color: #fff;

                &.Contact-Group { 
                    margin-left: 10px;
                    color: #444;
                }

                &[data-frequency="daily"] { background-color: var(--color-1); }
                &[data-frequency="weekly"] { background-color: var(--color-2); }
                &[data-frequency="monthly"] { background-color: var(--color-3); }
                &[data-frequency="quarterly"] { background-color: var(--color-4); }
                &[data-frequency="semi-annually"] { background-color: var(--color-5); }
                &[data-frequency="annually"] { background-color: var(--color-6); }
            }
        }
    }
}