#Today {

    &-Header {
        display: flex;
        border-bottom: 1px solid #ccc;
        padding: 13px 25px;
        position: sticky;
        z-index: 1;
        top: 0;
        background-color: #fff;

        h2 {
            margin: 0;
            color: var(--color-grey);
            cursor: pointer;

            &:hover:not(.selected) {
                color: #999;
            }

            &.selected {
                color: #000;
            }

            i { margin-left: 7px; }

            & + h2 {
                margin-left: 25px;
            }
        }
    }

    &-Contacts {
        padding: 0;
        margin: calc(25px - 1rem) calc(25px - 1rem) 25px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
            border: 1px solid #ccc;
            border-bottom-width: 2px;
            border-radius: 5px;
            flex-grow: 1;
            margin: 1rem;
            cursor: pointer;
            min-width: 200px;
            min-height: 275px;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            overflow: hidden;
            
            @media (min-width: 600px) {
                min-width: 200px;
                max-width: 300px;
            }
            
            @media (min-width: 800px) {
                min-width: 250px;
                max-width: 400px;
            }
            
            @media (min-width: 1000px) {
                min-width: 250px;
                max-width: 330px;
            }

            &:hover {
                border-collapse: #999;
                background-color: #f9f9f9;
                border-bottom-width: 1px;
                top: 1px;
                position: relative;
            }

            img { 
                max-width: 100%;
            }

            div {
                padding: 13px;
                background-color: #fff;
            }

            strong {
                display: block;
            }

            span {
                clear: both;
                display: inline-block;
                padding: 7px;
                font-size: .9rem;
                font-weight: bold;
                margin: 5px 0 0;
                background-color: var(--color-grey);
                border-radius: 5px;
                // color: #fff;

                &.Contact-Group { 
                    margin-left: 10px;
                }

                // &[data-frequency="daily"] { background-color: var(--color-1); }
                // &[data-frequency="weekly"] { background-color: var(--color-2); }
                // &[data-frequency="monthly"] { background-color: var(--color-3); }
                // &[data-frequency="quarterly"] { background-color: var(--color-4); }
                // &[data-frequency="semi-annually"] { background-color: var(--color-5); }
                // &[data-frequency="annually"] { background-color: var(--color-6); }
            }
        }
    }
}