#Dashboard-List-Contact-Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    padding: 25px;
    width: 100%;
    overflow: auto;

    @media (max-width:1000px) {
        grid-template-columns: 1fr;
    }

    @media (min-width: 1350px) and (max-width:1450px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width:1625px) {
        grid-template-columns: repeat(3, 1fr);
    }

    // @media (min-width: 1450px) {
    //     grid-template-columns: repeat(2, 1fr);
    // }
}

.Dashboard-List-Contact-Grid-Item {
    min-height: 250px;
    background-size: contain;
    background-position: center -30px;
    border-radius: 10px;
    border: 1px solid var(--color-space-cadet-lightest);
    border-bottom-width: 3px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    &.empty {
        background-color: var(--color-space-cadet-lightest);
        position: relative;

        > i {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 4rem;
            color: var(--color-space-cadet-lighter);
        }
    }

    &.expanded {
        align-items: stretch;

        > div {
            display: flex;
            flex-direction: column;

            > footer {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }
    }

    div {
        background: #fff;
        width: 100%;

        h4 {
            margin: 13px;
            display: flex;
            justify-content: space-between;

            i {
                margin-left: 15px;
            }
        }

        > footer {
            border-top: 1px solid var(--color-space-cadet-lightest);

            button {
                padding: 13px;
                cursor: pointer;
                font-size: .9rem;
                flex: 1;
                color: var(--color-space-cadet-light);

                &.contacted {
                    flex: 0;
                    padding: 13px 16px;
                }

                span {
                    margin-left: 7px;
                }

                &:hover {
                    background-color: var(--color-space-cadet-lightest);
                }

                & + button {
                    border-left: 1px solid var(--color-space-cadet-lightest);
                }
            }
        }
    }
}

.Dashboard-List-Contact-Grid-Item.expanded .Dashboard-Grid-Buttons header {
    border-bottom: 1px solid var(--color-space-cadet-lightest);
    display: block;

    button:first-child {
        margin-left: 5px;
        border-left: 1px solid var(--color-space-cadet-lightest);
        margin-bottom: -1px;
        border-bottom: 1px solid #fff;

        &:hover {
            background-color: #fff;
            cursor: default;
        }
    }

    button:last-child {
        border-right: 1px solid var(--color-space-cadet-lightest);
    }
}

.Dashboard-Grid-Buttons {
    header {
        display: flex;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    textarea {
        border: 1px solid var(--color-space-cadet-lightest);
        width: calc(100% - 20px);
        margin: 10px;
        flex: 1;
    }
}

.Dashboard-Grid-Update-Date {
    display: flex;
    padding: 0 10px 10px;
    justify-content: space-between;
    align-items: center;

    label { margin: 0; }
}

.Dashboard-Grid-Update {
    display: flex;
    flex: 1;
}