#Contact {
    height: 100%;
    flex: 1;
    background-color: var(--color-cg-blue-lighter);
    
    button {
        margin: 25px;
        padding: 15px;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid var(--color-space-cadet-lighter);
        cursor: pointer;
        
        &:hover, &:active {
            border-color: #aaa;
            background-color: var(--color-grey-hover);
        }
    }

    header {
        margin: -25px -25px 25px;
        border-bottom: 1px solid #ccc;
        display: flex;
        height: 55px;
        overflow: hidden;
        border-radius: 0 6px 0 0;

        h2 {
            margin: 0 0 0 13px;
            line-height: 55px;
            flex: 1;
        }

        button {
            margin: 0;
            padding: 0 13px;
            height: 54px;
            min-width: 55px;
            line-height: 55px;
            border: none;
            border-radius: 0;

            &#Contact-Save,
            &.Advanced {
                border-left: 1px solid #ccc;
            }
        }

        #Contact-Return {
            border-right: 1px solid #ccc;
        }
    }
    
    &-Photo {
        background-color: var(--grey-1); 
        background-size: cover;
        background-position: center;
        width: 250px;
        height: 250px;
        display: flex;
        align-items: flex-end;
        border-radius: 5px;

        button {
            margin: 7px;
            border-radius: 4px;
            opacity: .7;

            &:hover, &:active {
                opacity: 1;
            }
        }
    }
}

.Contact-Item {
    margin: 25px;

    label {
        display: block;
        margin-bottom: 5px;
        font-size: .9rem;
        font-weight: bold;
    }

    select,
    input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--color-space-cadet-light);
        font-size: 1rem;

        &:active {
            border-color: var(--color-space-cadet);
        }
    }
    
    &.Advanced {
        display: block;
        text-align: center;
    }

    &-Group {
        display: flex;

        .Contact-Item { width: 100%; }
    }
}